





.fl-node-5805fb75a1098 > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
 .fl-node-5805fb75a1098 > .fl-row-content-wrap {
	padding-top:10px;
	padding-bottom:0px;
}






.fl-node-5805fc12d65cf > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
 .fl-node-5805fc12d65cf > .fl-row-content-wrap {
	padding-top:0px;
	padding-bottom:0px;
}






.fl-node-5805fb0475932 > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}




.fl-node-5805fb75ab1aa {
	width: 100%;
}




.fl-node-5805fc12e3c63 {
	width: 100%;
}




.fl-node-5805fb0481fe3 {
	width: 100%;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

