





.fl-node-5a116cc735a26 > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}




.fl-node-5a116cc808a83 {
	width: 100%;
}




.fl-node-5a116f351f9cc {
	width: 100%;
}




.fl-node-5a116d248b572 {
	width: 100%;
}
 .fl-node-5a116e2de4074 > .fl-module-content {
	margin-right:20px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

