





.fl-node-58060a5abfe7c > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
 .fl-node-58060a5abfe7c > .fl-row-content-wrap {
	padding-top:0px;
}




.fl-node-rjb0hk4ots85 {
	width: 100%;
}




.fl-node-58060a5adaf9c {
	width: 100%;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

