





.fl-node-581c277410b53 > .fl-row-content-wrap {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
.fl-node-581c277410b53.fl-row-fixed-width, .fl-node-581c277410b53 .fl-row-fixed-width {
	max-width: 1066px;
}




.fl-node-581c27ba75319 {
	width: 100%;
}




.fl-node-581c277416137 {
	width: 50%;
}




.fl-node-581c277416186 {
	width: 50%;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

